section {
  justify-content: center;
  /*position: relative;*/
}

.clubAtWork {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clubatwork {
  text-align: center;
}

.article-paragraph {
}

