section {
  justify-content: center;
  /*position: relative;*/
}

.clubAtWork {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clubatwork {
  text-align: center;
}

.article-paragraph {
}

.redirtext {
  text-align: center;
}

social-icon {
  pointer-events: none;
  z-index: 100;
}

.social-icon {
  pointer-events: none;
  /*z-index: -100;*/
}

