section {
  justify-content: center;
  /*position: relative;*/
}

.clubAtWork {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clubatwork {
  text-align: center;
}

.article-paragraph {
}

.redirtext {
  text-align: center;
}

social-icon {
  pointer-events: none;
  z-index: 100;
}

.social-icon {
  pointer-events: none;
  /*z-index: -100;*/
}

section {
  background-color: rgb(45, 44, 56);
}

#err-txt a {
  color: var(--bs-red);
}

.clubcards {
  border-radius: 25px;
}

.spoke {
  border-radius: 25px;
}

.cardsrow {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin: 0 auto;
}

#cardEntrada-1 {
  align-content: center;
  align-self: center;
}

.cardcol {
  align-content: center;
  align-items: center;
  position: flex;
}

customCard {
  border-radius: 40px;
  align-items: center;
}

.customCard {
  align-items: center;
  border-radius: 40px;
}

.footer-text {
  text-align: center;
}

.footer-sm {
  position: absolute;
  width: 100%;
  min-height: 320px;
  bottom: 0px;
  left: 0;
}

.err: a {
  color: var(--bs-green);
}

.navs {
  justify-content: right;
}

#navcol-1 {
  justify-content: right;
}

